        @keyframes blink {
          0%,
          49% {
            opacity: 1;
          }
          50%,
          100% {
            opacity: 0;
          }
        }
        .cursor {
          display: inline-block;
          margin-left: 2px;
          animation: blink 1s steps(1) infinite;
        }
        .photo-crisp {
          image-rendering: -webkit-optimize-contrast;
          backface-visibility: hidden;
          transform: translateZ(0);
        }